/* ◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾◾  Reveal Elements  ◾◾◾◾◾◾◾◾◾◾◾◾◾   */

.spotted {
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translate(0,0) scale(1) !important;
  opacity: 1 !important;
}