// ◾◾◾◾◾◾◾◾◾◾◾◾  Colors ◾◾◾◾◾◾◾◾◾◾◾◾
$main_blue: #05A4ED;
$main_red: #FE3F40;
$header_bg_clr: #F7F7F7;
$links_hover_clr: #EEEEEE;
$main-text_clr: #2a2a2a;
$contact-input_bg_clr: #D1F2FE;


// ◾◾◾◾◾◾◾◾◾◾◾◾  Section Padding ◾◾◾◾◾◾◾◾◾◾◾◾
$sec_padding: 125px;